<div class="container">
  <div class="row">

    <div class="column left">
      <h1 style="text-align:center">About Me</h1>
      <div class="col-xs-7 about" id="about">
        <p> &nbsp; During my first job working at Accenture, I worked on a high-scale web-based project. In an Agile environment I fixed defects related to design issues. During my time on this project I gained proficiency working with Angular 7, TypeScript, CSS and PrimeNG and was able to contribute to subsequent projects at Accenture requiring these languages. Because I operated remotely I learned to work independently and developed the skills to effectively communicate with my teammates. </p >
        <p> &nbsp; The mission of Code.org hits very close to home for me as a Latina programmer. Prior to university I had never considered pursuing a career in tech, but when I took my first Computer Science course I discovered that I had an affinity and aptitude for coding. While I didn’t have a childhood of disassembling and reassembling computers like many of my male peers, I grasped new concepts rapidly and thrived in my newfound career. This enabled me to learn Ruby for my summer internship at Enphase Energy where, without any assistance, I created a program in Ruby that inserted missing key-value pairs into a YAML data file.</p>
        <p> &nbsp; After attending the 2016 Grace Hopper Conference as a scholarship recipient, I was inspired to start Beta Coders, a club of student volunteers who helped teach computer science to students at a very diverse, Title 1, public high school in Tacoma. By the time I graduated, we had 22 student tutors. We worked shifts to make sure that 2-3 of our tutors were present in almost every period of the high school’s computer science classes, many of which were following Code.org curriculum. </p>
        <p> &nbsp; I started Beta Coders to encourage students of color and female students to consider technology as a field where they would be welcomed. It seems to me that Code.org shares this mission and I would love to join in the amazing work you are doing.</p>
        <p> &nbsp; I would appreciate an opportunity to discuss further with you how my experience and skills will best meet your needs.</p>
      </div>
    </div>

    <div class="column right center-block" style="position: relative;">
      <img [src]="imagePath" class="img-fluid" alt="Sofia Schwartz in Northern Brazil">
    </div>
  </div>
</div>