/* You can add global styles to this file, and also import other style files */

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  background-color: #FFFCF2;
}

body {
  margin: 0;
  font-family: "Goudy Old Style", Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
}

.content {
  height: 90vh;
  margin-top: 10vh;
  overflow-y: scroll;
}
